li a {
    color: green;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}

input[type=text] {
  background-color: #3CBC8D;
  color: white;
}

input[type=text]:focus {
  background-color: lightblue;
}

ul.errorlist{
    color:red;
}
